.container {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 640px;
  aspect-ratio: 4 / 3;
  margin-top: 16px;

  .icon {
    z-index: 100;
    position: absolute;
    background: var(--white);
    font-size: 48px;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s ease;
    top: 50%;

    &:hover {
      transform: scale(1.1);
      background: rgba(220, 220, 220);
    }
  }

  .imgContainer {
    position: absolute;
    transition: 0.4s ease;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.main {
      z-index: 2;
      width: 50%;
      aspect-ratio: 2 / 3;
      transform: translate(-50%, -50%);
    }

    &.hidden {
      opacity: 0;
      z-index: 0;
      width: 35%;
      aspect-ratio: 4 / 7;
      transform: translate(-50%, -50%);
    }

    &.first {
      opacity: 1;
      z-index: 1;
      width: 35%;
      aspect-ratio: 2 / 3;
      cursor: pointer;
      transform: translate(-142.5%, -50%);
    }

    &.third {
      opacity: 1;
      z-index: 1;
      cursor: pointer;
      width: 35%;
      aspect-ratio: 2/ 3;
      transform: translate(42.5%, -50%);
    }

    img {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      border-radius: 16px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
